<!DOCTYPE HTML>
<html lang="{{theme.lang}}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{site.name}}{% endblock %}</title>
    <script>if (top !== self) top.location = self.location;</script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{static_url('yue.css')}}" />
    <link rel="stylesheet" href="{{static_url('pygments.css')}}" />
    <link rel="stylesheet" href="{{static_url('style.css')}}" />
    {% for verify in rel %}<link rel="{{verify.rel}}" href="{{verify.link}}" />
    <link href="{{verify.link}}" rel="{{verify.rel}}" />
    {% endfor %}
    {% if site.feed -%}
    <link rel="alternate" type="application/rss+xml" href="{{site.feed}}" title="{{site.name}}" />
    {% else %}
    <link rel="alternate" type="application/rss+xml" href="{{ content_url('feed.xml') }}" title="{{site.name}}" />
    {%- endif %}
    <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ static_url('html5shiv.js') }}"></script>
        <![endif]-->
    {% if theme.analytics -%}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{theme.analytics}}', 'auto');
    ga('send', 'pageview');
    </script>
    {%- endif %}
    {% block afterstyle %}{% endblock %}
  </head>
  <body>
    <header id="header">
      <div class="container">
        {% block header -%}
        <div id="brand">
          <a href="/">
            <img width="30px" src="https://www.gravatar.com/avatar/5b4390ee25bd6ee9d68ce76c82de100d" alt="Photo" />
            {{site.name}}
          </a>
        </div>
        {%- block nav %}
        <nav id="nav" role="navigation">
          {% for item in theme.navigation %}
          <a href="{{item.link}}"{%- if item.rel %} rel="{{item.rel}}"{%- endif %}>{{item.title}}</a>
          {%- endfor %}
        </nav>
        {%- endblock %}
        {%- endblock %}
      </div>
    </header>

    <div class="main-content">
      <div id="main">
        <div class="container yue">
          {%- block main %}
          {% endblock -%}
        </div>
      </div>

      <footer id="footer">
        {%- block footer %}
        <div class="end"></div>
        {% if theme.elsewhere -%}
        <nav class="elsewhere">
          {% for item in theme.elsewhere -%}
          <a href="{{item.link}}">{{item.name}}</a>
          {%- endfor %}
        </nav>
        {%- endif %}
        <p class="copyright">
          &copy; 2020 Jeff Hui
        </p>
        {%- endblock %}
      </footer>
    </div>

    {%- block beforejs %}{% endblock %}
    <script type="text/javascript" src="{{ static_url('mobile.js') }}"></script>
    {% block afterjs %}{% endblock %}
  </body>
</html>
