name: Deploy Hugo site to AWS

on:
  push:
    branches: ["main"]
    paths:
      - 'v2/content/**'
      - 'v2/layouts/**'
      - 'v2/static/**'
      - v2/hugo.toml

  workflow_dispatch:

env:
  BUCKET_NAME: 'www.jeffhui.net'

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

# Default to bash
defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: 0.134.3
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Build with Hugo
        env:
          HUGO_CACHEDIR: ${{ runner.temp }}/hugo_cache
          HUGO_ENVIRONMENT: production
        run: |
          cd v2 && \
          hugo \
            --minify
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: files
          path: ./v2/public

  # Deployment job
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: production
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: files
          path: public
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::441931800918:role/Github
          role-session-name: GithubRoleSession
          aws-region: us-west-2
      - name: Deploy to AWS
        id: deployment
        run: |
          aws s3 sync --exclude '*.DS_Store' --storage-class REDUCED_REDUNDANCY public s3://${{env.BUCKET_NAME}}/
          aws cloudfront create-invalidation --distribution-id E2B6KCHXFPTEGA --paths '/*'
